<div class="container">
  <div class="header">
    <form [formGroup]="form" class="url-form">
      <input
        formControlName="url"
        type="text"
        placeholder="Insert YouTube URL"
        class="url-input"
      />
      <button (click)="requestVideoSummary()" class="submit-button">
        Summary
      </button>
      <button (click)="openDialog()">⚙️</button>
    </form>
    <div class="errors">
      <span
        class="error"
        *ngIf="form.controls.myKey.errors && form.controls.myKey.touched"
      >
        Fill the Key in Config
      </span>
      <span
        class="error"
        *ngIf="form.controls.url.errors && form.controls.url.touched"
      >
        Fill YouTube URL
      </span>
    </div>
  </div>

  <div *ngIf="loading" class="loader"></div>

  <ng-container *ngIf="!loading">
    <section *ngFor="let summary of summaries$ | async" class="summary-section">
      <div class="summary-card">
        <div class="thumbnail">
          <a [href]="summary.source.source" target="_blank" class="video-link">
            <img
              [src]="getThumbnail(summary.source.source)"
              class="thumbnail-img"
            />
          </a>
        </div>
        <div class="summary-content">
          <p class="summary-text">{{ summary.summary }}</p>
          <a [href]="summary.source.source" target="_blank" class="video-link">
            Watch video
          </a>
        </div>
      </div>
    </section>
  </ng-container>
</div>

<div *ngIf="isDisplayDialog$ | async" class="dialog-overlay">
  <div class="dialog-container">
    <button class="close-dialog" (click)="closeDialog()">✖️</button>
    <div class="form">
      <form [formGroup]="form">
        <input
          formControlName="myKey"
          type="text"
          class="url-input"
          placeholder="Insert My Key"
        />
      </form>
    </div>
  </div>
</div>
